<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="/webjars/angularjs/1.2.17/angular.min.js"></script>
    <script src="/webjars/jquery/1.9.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
    <script src="/webjars/lodash/2.4.1-6/lodash.min.js"></script>

    <script src="/webjars/sockjs-client/0.3.4-1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.1-1/stomp.min.js"></script>
    <script src="eventlog.js"></script>
    <title>Applications Cartographiques - EventLog</title>
</head>
<body ng-app="app">

<div ng-controller="mainCtrl">

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">Applications Cartographiques - EventLog</h1>
            </div>
        </div>
    </div>

    <div id="eventContainer" class="container">
        <div class="event" ng-repeat="event in events">
            <div ng-class="{answer-ok: event.successful, answer-ko: !event.successful}">
                <img src="{{event.userAvatarUrl}}" />
                <span ng-if="!event.successful">La tentative de réponse de {{event.user}} au {{event.tp}} a malheureusement échoué</span>
                <span ng-if="event.successful">{{event.user}} a répondu correctement au {{event.tp}}. Il obtient la récompence {{rewards[event.tp].name}}</span>
                <img src="/images/{{rewards[event.tp].url}}" ng-if="event.successful"/>
                <!--<object type="audio/mpeg" width="0" height="0" data="monSon.mp3"> -->
                    <!--<param name="filename" value="monSon.mp3" /> -->
                    <!--<param name="autostart" value="true" /> -->
                    <!--<param name="loop" value="false" /> -->
                <!--</object>-->
            </div>
            {{event | json}}
        </div>
    </div>
</div>

</body>
</html>