<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="/webjars/angularjs/1.2.17/angular.min.js"></script>
    <script src="/webjars/jquery/1.9.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
    <script src="/webjars/lodash/2.4.1-6/lodash.min.js"></script>

    <script src="/webjars/sockjs-client/0.3.4-1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.1-1/stomp.min.js"></script>
    <script src="eventlog.js"></script>
    <title>Applications Cartographiques - EventLog</title>
    
    <style>
        .answerOk {
            color: green;
        }
        .answerKo {
            color: red;
        }
    </style>
</head>
<body ng-app="app">

<div ng-controller="mainCtrl">

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">Applications Cartographiques - EventLog</h1>
            </div>
        </div>
    </div>

    <div id="eventContainer" class="container">
        <div class="event" ng-repeat="event in events">
            <div ng-class="{answerOk: event.successful, answerKo: !event.successful}">
                <img src="{{event.userAvatarUrl}}" width="80" />
                <strong ng-if="!event.successful">La tentative de réponse de {{event.user}} au {{event.step | uppercase}} a malheureusement échoué</strong>
                <strong ng-if="event.successful">{{event.user}} a répondu correctement au {{event.step | uppercase}}. Il obtient la récompense '{{rewards[event.step].name}}'</strong>
                <img src="/images/{{rewards[event.step].url}}" ng-if="event.successful" width="150"/>
                <audio autoplay>
                    <source src="{{event.sound}}" type="audio/wav">
                </audio>
            </div>
        </div>
    </div>
</div>

</body>
</html>