<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/1.9.0/jquery.min.js"></script>
    <script src="/webjars/angularjs/1.2.17/angular.min.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/oauth.min.js"></script>
    <script src="index.js"></script>
    <title>Applications Cartographiques - Quizz</title>
</head>
<body ng-app="app">

<div ng-controller="mainCtrl">

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">Applications Cartographiques - Quizz</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-repeat="tpConfig in tpConfigs">
            <div class="row">
                <div class="col-md-12">
                    <h3>TP {{tpConfig.id}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <strong>Objectifs :</strong> {{tpConfig.objectives}}
                    </p>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<form>-->
                        <!--<input class="form-control" ng-show="tp{{tpConfig.id}}Ok" type="{{tpConfig.inputType}}" ng-model="tp{{tpConfig.id}}Answer"/>-->
                        <!--<button ng-show="tp{{tpConfig.id}}Ok" class="btn btn-success" ng-click="answerStep(tpConfig.id, tp{{tpConfig.id}}Answer, user)">Tenter votre chance</button>-->
                        <!--<p class="text-success" ng-show="tp{{tpConfig.id}}Ok">TP{{tpConfig.id}} OK</p>-->
                    <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>